[submodule "thirdparty/lz4"]
	path = thirdparty/lz4
	url = https://github.com/lz4/lz4
[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "thirdparty/kff-cpp-api"]
	path = thirdparty/kff-cpp-api
	url = https://github.com/Kmer-File-Format/kff-cpp-api
[submodule "thirdparty/bcli"]
	path = thirdparty/bcli
	url = https://github.com/tlemane/bcli
[submodule "thirdparty/sdsl-lite"]
	path = thirdparty/sdsl-lite
	url = https://github.com/simongog/sdsl-lite
[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://github.com/google/googletest
[submodule "thirdparty/CRoaring"]
	path = thirdparty/CRoaring
	url = https://github.com/RoaringBitmap/CRoaring
[submodule "thirdparty/indicators"]
	path = thirdparty/indicators
	url = https://github.com/p-ranav/indicators
[submodule "thirdparty/xxHash"]
	path = thirdparty/xxHash
	url = https://github.com/Cyan4973/xxHash
[submodule "thirdparty/robin-hood-hashing"]
	path = thirdparty/robin-hood-hashing
	url = https://github.com/martinus/robin-hood-hashing
[submodule "thirdparty/TurboPFor-Integer-Compression"]
	path = thirdparty/TurboPFor-Integer-Compression
	url = https://github.com/powturbo/TurboPFor-Integer-Compression
[submodule "thirdparty/cfrcat"]
	path = thirdparty/cfrcat
	url = https://github.com/tlemane/cfrcat
