# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/build/
/bin/
/toys/
.idea/
.vscode/
build-vscode/
cmake-build-debug/
libs/snippets/bitmatrix_ex
libs/snippets/merger_ex
libs/snippets/minim_ex
libs/snippets/repartition_ex
libs/snippets/skreader_ex
libs/snippets/sequences_ex
run.sh
run_init/
install.sh

tests/libs/test_bitmatrix
tests/libs/test_code
tests/libs/test_sequences
tests/libs/test_repartition
tests/libs/test_merger
tests/libs/test_skreader
tests/libs/kmtests
**/html/
