# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/.vscode/
/build/
/tests/tests_tmp/
/bin/
/tests/cmd_tests/km_dir
/tests/cmd_tests/km_dir_p
kmtricks-tests
kmtricks-task-tests
/tests/cmd_tests

tags
