[submodule "thirdparty/gatb-core-stripped"]
	path = thirdparty/gatb-core-stripped
    url = https://github.com/tlemane/gatb-core-stripped
#    ignore = dirty
[submodule "thirdparty/sdsl-lite"]
	path = thirdparty/sdsl-lite
	url = https://github.com/simongog/sdsl-lite
[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "thirdparty/HowDeSBT"]
	path = thirdparty/HowDeSBT
	url = https://github.com/tlemane/HowDeSBT
[submodule "thirdparty/lz4"]
	path = thirdparty/lz4
	url = https://github.com/lz4/lz4
[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://github.com/google/googletest
